<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.go.by.ter">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/gobyter"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/gobyter_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".RecuActivity"></activity>
        <activity android:name=".LocalisationArretActivity"></activity>
        <activity android:name=".OptionReservationActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".LocalisationActivity" />
        <activity android:name=".ArretActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ReservationActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>